.table{
    width: 100%;
    border-collapse: collapse;
}
.table tr.zebra:nth-child(odd) {
    background-color: #2f2f2f;
}
.table tr.zebra:nth-child(even) {
    background-color: #222;
}

.table th,
.table td{
    /* border: 1px solid #aaa; */
    padding: 0 .5em;
    text-align: center;
}
.table th{
    padding: .5em;
}
.table th:nth-child(2):hover,
.table th:nth-child(3):hover,
.table th:nth-child(4):hover{
    cursor: crosshair;
    color: #0f0;
}
.button-delete{
    background-color: #fff;
    color: #111;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: 600;
    padding: .3em .5em;
}
.button-delete:hover{
    background-color: #000;
    color: #0f0;
}
